:root {
    --blue: rgb (0. 69. 102)
}
body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #229de4,rebeccapurple, #04000a);
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 210, 238);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
}

.header {
    text-align: center;
    font-size: 2.5em;
    color: rgb(48, 7, 82);
    margin-bottom: 20px;
}

.input-area {
     width: 100%;
     display: flex;
     gap: 10px;
     margin-bottom: 30px;
}

#input-task {
    padding: 12px 15px;
    border: 2px solid --blue;
    border-radius: 10px;
    font-size: 1.1em;

    flex-grow: 1;
    box-sizing: border-box;

    transition: all 0.4s ease;
}
#input-task:focus {
    outline: none;
    border-color: rgb(35, 8, 97);
    box-shadow: 0 5px 40px rebeccapurple;
}

#add-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;


    background: linear-gradient(45deg, rgb(143, 198, 229), rgb(181, 154, 230));
    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}
#add-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rebeccapurple;

}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    background: linear-gradient(45deg, rgb(143, 198, 229), rgb(181, 154, 230));
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: #a479eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.item:hover {
    transform: translateY(-3px);
}

.task-content {
    font-size: 1.2em;
    margin-right: 15px;
    word-wrap: break-word;
    line-height: 1.4;
    flex-grow: 1;
    
}

.task-actions {
    display: flex;
    gap: 10px;

}

.btn {
    background-color: antiquewhite;
    color:rgb(78, 53, 190);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9mm;
    cursor: pointer;
    opacity: 0.8;
}

.item.high-priority {
    border-left: 8px solid rgb(4, 102, 158);

}

.item.medium-priority {
    border-left: 8px solid rgb(22, 132, 196) ;
}

.item.low-priority {
    border-left: 8px solid rgb(211, 229, 240);
}

.item.completed {
    background-color: antiquewhite;
    opacity: 0.6;
    box-shadow: 0 5px 8px rgb(84, 163, 48);
}

.item.completed .task-content {
    text-decoration: line-through;
    color: azure;
}
.task-list:not(:has(>*))::before {
    content: "There aren't any tasks.It's time to add them!";
    padding: 30px;
    display: block;
    font-style: italic;
    text-align: center;

}
